.footer,.footer-div{width:100%;height:60px}.footer-div{border-top:1px solid #2c3e50;position:fixed;left:0;bottom:0;background-color:#fff}.footer-img-div{display:inline-block;width:20%;text-align:center}.footer-menu-img{width:60%;max-width:50px;max-height:60px}